/* global style */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--mainTransition: all 0.3s ease-in-out;
	--firstFont: 'Chakra Petch', sans-serif;
	--secondFont: 'Gorditas', cursive;
	--thirdFont: 'Potta One', cursive;
	--mainColor: black;
	--secondColor: white;
	--thirdColor: gray;
	--forthColor: rgb(187, 185, 185);
	--fifthColor: rgb(216, 216, 216);
	--darkColor: rgb(41, 40, 40);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--firstFont);
	background-color: var(--fifthColor);
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.hide {
	display: none;
}

.hide-btn {
	display: none;
}

main {
	width: 100%;
}

/* header */
.nav-white {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	background-color: rgb(250, 185, 47);
	transition: var(--mainTransition);
	box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.64);
}

.links {
	flex: 0 0 calc(40% - 1rem);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	list-style: none;
}

.link-item {
	width: 10rem;
	font-size: 1.5rem;
	text-transform: capitalize;
	transition: var(--mainTransition);
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.link-item:hover {
	background-color: rgb(0, 123, 196);
	cursor: pointer;
}

.link-item:hover a {
	color: rgb(250, 185, 47);
}

.link-item a {
	color: rgb(0, 123, 196);
	letter-spacing: 0.2rem;
}

.logo {
	width: 100%;
	height: 100%;
}

.logo-container {
	padding-top: 1rem;
	width: 10rem;
	height: 9rem;
}
/* end of header*/

/* main of about us page */
main {
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.side {
	text-align: center;
	text-transform: capitalize;
}

.side h1 {
	margin-bottom: 2rem;
	letter-spacing: 0.15rem;
	color: rgb(196, 1, 1);
}

.side h2 {
	letter-spacing: 0.5rem;
	color:rgb(250, 185, 47);
}

.container {
	width: 70%;
	margin-top: 5rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 3rem;
}

.profile {
	flex: 0 0 27%;
	border: 4px solid rgb(25, 33, 98);
	text-align: center;
	margin-bottom: 3rem;
	padding: 1rem 0.5rem;
	height: 50%;
}

.profileimg {
	display: inline-block;
	width: 90%;
	height: 70%;
	overflow: hidden;
	border-radius: 1rem;
}

h5 {
	color: rgb(196, 1, 1);
	text-align: center;
	font-size: 1.3rem;
	margin-top: 10px;
	font-weight: bold;
	letter-spacing: 0.15rem;
}

.social {
	margin: 0 auto;
	width: 50%;
	list-style: none;
	font-size: 2rem;
	display: flex;
	justify-content: space-around;
	margin-top: 4px;
	text-align: center;
}

.social a {
	color: rgb(1, 123, 196);
	transition: var(--mainTransition);
}

.fa-github-square {
	color: black;
}

.social a:hover {
	color: var(--thirdColor);
}

/* footer */
footer {
	height: 130px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(0, 21, 70);
	color: var(--secondColor);
	overflow: hidden;
	padding: 1.5rem 0;
}

.footer-links {
	list-style: none;
	width: 10%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.footer-links a {
	font-size: 2rem;
	color: var(--secondColor);
	transition: var(--mainTransition);
}

.footer-links a:hover {
	color: var(--thirdColor);
}

footer h2 {
	font-size: 1.3rem;
	text-transform: capitalize;
	letter-spacing: 0.2rem;
	color: rgb(151, 161, 170);
}

/* end of footer */

/* media queries*/
@media screen and (max-width: 1025px) {
	.footer-links {
		width: 15%;
	}

	footer h2 {
		font-size: 1rem;
	}

	.link-item {
		width: 8rem;
		font-size: 1.2rem;
	}

	.profile {
		flex: 0 0 27%;
		margin-bottom: 2rem;
		padding: 1rem 0.5rem;
		height: 50%;
	}

	h5 {
		font-size: 1rem;
		margin-top: 10px;
		letter-spacing: 0;
	}

	.social {
		width: 60%;
		font-size: 1.5rem;
		margin-top: 4px;
	}
}

@media screen and (max-width: 769px) {
	.footer-links {
		width: 17%;
	}

	.footer-links a {
		font-size: 1.7rem;
	}

	footer h2 {
		font-size: 1.1rem;
	}
	.link-item {
		width: 6rem;
		font-size: 1rem;
	}

	.profile {
		flex: 0 0 30%;
		margin-bottom: 1rem;
	}

	h5 {
		font-size: 0.8rem;
	}

	.social {
		font-size: 1.3rem;
	}
}

@media screen and (max-width: 426px) {
	footer {
		height: 80px;
		padding: 1rem 0;
	}

	.footer-links {
		width: 25%;
	}

	.footer-links a {
		font-size: 1rem;
	}

	footer h2 {
		font-size: 0.5rem;
	}

	.link-item {
		width: 6rem;
		font-size: 1rem;
	}
}
