/* global style */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--mainTransition: all 0.3s ease-in-out;
	--firstFont: 'Chakra Petch', sans-serif;
	--secondFont: 'Gorditas', cursive;
	--thirdFont: 'Potta One', cursive;
	--mainColor: black;
	--secondColor: white;
	--thirdColor: gray;
	--forthColor: rgb(187, 185, 185);
	--fifthColor: rgb(216, 216, 216);
	--darkColor: rgb(41, 40, 40);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--firstFont);
	background-color: var(--fifthColor);
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.hide {
	display: none;
}

.hide-btn {
	display: none;
}

main {
	width: 100%;
}

/* header */
.nav-white {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	background-color: rgb(250, 185, 47);
	transition: var(--mainTransition);
	box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.64);
}

.links {
	flex: 0 0 calc(40% - 1rem);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	list-style: none;
}

.link-item {
	width: 10rem;
	font-size: 1.5rem;
	text-transform: capitalize;
	transition: var(--mainTransition);
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.link-item a {
	color: rgb(0, 123, 196);
	letter-spacing: 0.2rem;
}

.logo {
	width: 100%;
	height: 100%;
}

.logo-container {
	padding-top: 1rem;
	width: 10rem;
	height: 9rem;
}
/* end of header*/

/* main */
main {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.content {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 5rem;
}

.img-container {
	flex: 0 0 calc(30% - 2rem);
	height: 30rem;
}

.img-container img {
	width: 100%;
	height: 100%;
}

.info-container {
	flex: 0 0 calc(70% - 4rem);
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	letter-spacing: 0.15rem;
}

.info-container h2 {
	font-size: 2rem;
	font-family: var(--thirdFont);
	margin-bottom: 2rem;
}

.info-container p {
	max-width: 90%;
	text-align: justify;
	text-indent: 20px;
	margin-bottom: 3rem;
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	text-align-last: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.vote-btn {
	padding: 1rem 2rem;
	font-size: 1.2rem;
	font-weight: bold;
	border: 2px solid var(--thirdColor);
	background-color: var(--thirdColor);
	color: var(--secondColor);
	transition: var(--mainTransition);
}

.vote-btn:hover {
	background-color: var(--secondColor);
	color: var(--thirdColor);
	cursor: pointer;
}

.remove-vote-btn {
	padding: 1rem 2rem;
	font-size: 1.2rem;
	font-weight: bold;
	border: 2px solid var(--thirdColor);
	background-color: var(--thirdColor);
	color: var(--secondColor);
	transition: var(--mainTransition);
}

.remove-vote-btn:hover {
	background-color: var(--secondColor);
	color: var(--thirdColor);
	cursor: pointer;
}

.gallary {
	margin: 4rem 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	overflow: hidden;
}

.gallary-img {
	margin-top: 4rem;
	flex: 0 0 24%;
	width: 12rem;
	height: 15rem;
	cursor: pointer;
	position: relative;
}

.gallary-img:hover {
	opacity: 0.7;
}

.modal {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 60%;
	background-color: black;
	border-radius: 2rem;
	overflow: hidden;
}

.modal-img {
	width: 100%;
	height: 100%;
}

.close {
	font-size: 2rem;
	transition: var(--mainTransition);
	position: absolute;
	top: 12%;
	left: 72%;
	z-index: 3;
}

.close:hover {
	color: red;
	cursor: pointer;
}

.right {
	font-size: 5rem;
	transition: var(--mainTransition);
	position: absolute;
	top: 40%;
	left: 80%;
	transform: translate(-50%, -50%);
	z-index: 3;
}

.left {
	font-size: 5rem;
	transition: var(--mainTransition);
	position: absolute;
	top: 40%;
	left: 20%;
	transform: translate(-50%, -50%);
	z-index: 3;
}

.left:hover,
.right:hover {
	color: gold;
	cursor: pointer;
}

/* end of main*/

/* footer */
footer {
	height: 130px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(0, 21, 70);
	color: var(--secondColor);
	overflow: hidden;
	padding: 1.5rem 0;
}

.footer-links {
	list-style: none;
	width: 10%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.footer-links a {
	font-size: 2rem;
	color: var(--secondColor);
	transition: var(--mainTransition);
}

.footer-links a:hover {
	color: var(--thirdColor);
}

footer h2 {
	font-size: 1.1rem;
	text-transform: capitalize;
	letter-spacing: 0.2rem;
	color: rgb(151, 161, 170);
}

/* end of footer */

/* media queries*/
@media screen and (max-width: 1025px) {
	.footer-links {
		width: 15%;
	}

	.link-item {
		width: 8rem;
		font-size: 1.2rem;
	}

	.img-container {
		flex: 0 0 30%;
		height: 25rem;
	}

	.info-container {
		flex: 0 0 70%;
		height: 25rem;
	}

	.info-container h2 {
		font-size: 1.5rem;
	}

	.info-container p {
		font-size: 1rem;
		margin-left: 1rem;
	}

	.vote-btn {
		padding: 0.5rem 2rem;
		font-size: 1.1rem;
	}

	.remove-vote-btn {
		padding: 0.5rem 2rem;
		font-size: 1.1rem;
	}

	.modal {
		height: 50%;
	}

	.close {
		top: 17%;
		left: 70%;
	}

	.right {
		font-size: 3.2rem;
	}

	.left {
		font-size: 3.2rem;
	}
}

@media screen and (max-width: 769px) {
	.footer-links {
		width: 17%;
	}

	.footer-links a {
		font-size: 1.7rem;
	}

	footer h2 {
		font-size: 1.1rem;
	}

	.link-item {
		width: 6rem;
		font-size: 1rem;
	}
}

@media screen and (max-width: 426px) {
	footer {
		height: 80px;
		padding: 1rem 0;
	}

	.footer-links {
		width: 25%;
	}

	.footer-links a {
		font-size: 1rem;
	}

	footer h2 {
		font-size: 0.5rem;
	}

	.link-item {
		width: 6rem;
		font-size: 1rem;
	}
}
