/* global style */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--mainTransition: all 0.3s ease-in-out;
	--firstFont: 'Chakra Petch', sans-serif;
	--secondFont: 'Gorditas', cursive;
	--thirdFont: 'Potta One', cursive;
	--mainColor: black;
	--secondColor: white;
	--thirdColor: gray;
	--forthColor: rgb(187, 185, 185);
	--fifthColor: rgb(216, 216, 216);
	--darkColor: rgb(41, 40, 40);
}

html {
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
}

body {
	font-family: var(--firstFont);
	background-color: var(--fifthColor);
	height: 100%;
	width: 100%;
	display: table;
	table-layout: fixed;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.hide {
	display: none;
}

.hide-btn {
	display: none;
}

main {
	display: table-row;
	height: 100%;
	position: relative;
}

/* header */
.nav-white {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	background-color: rgb(250, 185, 47);
	transition: var(--mainTransition);
	box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.64);
}

.links {
	flex: 0 0 calc(40% - 1rem);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	list-style: none;
}

.link-item {
	width: 10rem;
	font-size: 1.5rem;
	text-transform: capitalize;
	transition: var(--mainTransition);
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.link-item:hover {
	background-color: rgb(0, 123, 196);
	cursor: pointer;
}

.link-item:hover a {
	color: rgb(250, 185, 47);
}

.link-item a {
	color: rgb(0, 123, 196);
	letter-spacing: 0.2rem;
}

.logo {
	width: 100%;
	height: 100%;
}

.logo-container {
	padding-top: 1rem;
	width: 10rem;
	height: 9rem;
}
/* end of header*/

/* main */
main {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../utilityImg/bg.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: cover;
}

.content {
	flex: 0 0 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.question-box {
	flex: 0 0 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(147, 1, 1, 0.705);
	border-radius: 2rem;
	border: 5px solid rgb(251, 191, 35);
}

.question {
	margin: 3rem 0;
	letter-spacing: 0.2rem;
	text-transform: capitalize;
	max-width: 70%;
	text-align: center;
	color: rgb(251, 191, 35);
}

.answers {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 3rem;
}

.answer-box {
	position: relative;
	width: 15rem;
	height: 15rem;
	transition: var(--mainTransition);
	border-radius: 1rem;
	overflow: hidden;
	object-fit: cover;
}

.answer-box:hover::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #3296b4, #000, rgb(155, 31, 31));
	transform: scale(1.1);
	transition: var(--mainTransition);
	z-index: 1;
	opacity: 0.8;
}

.answer-box img {
	width: 100%;
	height: 100%;
	transition: var(--mainTransition);
}

.answer-box .answer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--secondColor);
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 0.15rem;
	text-align: center;
	transition: var(--mainTransition);
	text-transform: uppercase;
	z-index: 9;
	cursor: pointer;
	color: rgb(193, 1, 1);
}

.answer-box:hover .answer {
	color: rgb(251, 191, 35);
}

.answer-box:hover img {
	box-shadow: 0px 2px 16px 3px rgba(0, 0, 0, 0.86);
	transform: scale(1.1);
}

.result-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.result {
	width: 20rem;
	height: 25rem;
	transition: var(--mainTransition);
	display: none;
	border-radius: 2rem;
}

.result img {
	width: 100%;
	height: 100%;
	transition: var(--mainTransition);
	animation: show 5s 1;
	border-radius: 2rem;
}

.again {
	margin-top: 1rem;
	padding: 1rem;
	text-align: center;
	animation: showBtn 5s 1;
	cursor: pointer;
}

.icon {
	font-size: 2.5rem;
	color: var(--darkColor);
}

.failed,
.success {
	margin-top: 5px;
	font-weight: bold;
}

@keyframes show {
	0% {
		opacity: 0;
		transform: scale(2.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes showBtn {
	0% {
		opacity: 0;
		transform: scale(1.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/* Styling start quiz */
.start-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: var(--mainTransition);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.start-btn button {
	background: rgb(1, 123, 196);
	color: #182061;
	font-size: 25px;
	font-weight: 650;
	border: none;
	padding: 15px 30px;
	border-radius: 20px;
	cursor: pointer;
	animation: lighting 1s infinite;
}

.start-btn p {
	width: 50%;
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 0.15rem;
	text-align: center;
	margin-bottom: 2rem;
	text-transform: capitalize;
	color: #182061;
}

@keyframes lighting {
	0% {
		transform: scale(1);
	}
	75% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

/* end of main*/

/* footer */
footer {
	display: table-row;
	height: 130px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(0, 21, 70);
	color: var(--secondColor);
	overflow: hidden;
	padding: 1.5rem 0;
}

.footer-links {
	list-style: none;
	width: 10%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.footer-links a {
	font-size: 2rem;
	color: var(--secondColor);
	transition: var(--mainTransition);
}

.footer-links a:hover {
	color: var(--thirdColor);
}

footer h2 {
	font-size: 1.1rem;
	text-transform: capitalize;
	letter-spacing: 0.2rem;
	color: rgb(151, 161, 170);
}

/* end of footer */

/* media queries*/
@media screen and (max-width: 1025px) {
	.footer-links {
		width: 15%;
	}

	.single-card {
		height: 25rem;
		font-size: 1.1rem;
		margin-bottom: 4rem;
	}

	.btn-vote {
		font-size: 2.5rem;
	}

	.btn-vote-full {
		font-size: 2.5rem;
	}

	.btn-desc {
		top: 90.5%;
		width: 5rem;
		padding: 0.5rem 0.5rem 1rem;
		font-size: 1.2rem;
	}

	.link-item {
		width: 8rem;
		font-size: 1.2rem;
	}

	.link-item-transparent {
		width: 8rem;
		font-size: 1.2rem;
	}

	.header-title {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 769px) {
	.footer-links {
		width: 17%;
	}

	.footer-links a {
		font-size: 1.7rem;
	}

	footer h2 {
		font-size: 1.1rem;
	}

	.search {
		width: 40%;
	}

	#search {
		padding: 1rem 1rem;
		margin: 5rem 0 4rem;
		border-radius: 1rem;
		font-size: 0.8rem;
	}

	#search::placeholder {
		font-size: 0.8rem;
	}

	.single-card {
		height: 18rem;
		font-size: 0.5rem;
		margin-bottom: 3rem;
	}

	.btn-vote {
		font-size: 2rem;
	}

	.btn-vote-full {
		font-size: 2rem;
	}

	.btn-desc {
		top: 87%;
		width: 3.5rem;
		padding: 0.5rem 0.5rem;
		font-size: 1rem;
	}

	.more {
		width: 9rem;
		padding: 0.5rem;
		border-radius: 0.5rem;
		font-size: 1rem;
	}

	.link-item {
		width: 6rem;
		font-size: 1rem;
	}

	.link-item-transparent {
		width: 6rem;
		font-size: 1rem;
	}

	.header-title {
		font-size: 1rem;
	}
}

@media screen and (max-width: 426px) {
	footer {
		height: 80px;
		padding: 1rem 0;
	}

	.footer-links {
		width: 25%;
	}

	.footer-links a {
		font-size: 1rem;
	}

	footer h2 {
		font-size: 0.5rem;
	}

	.link-item {
		width: 6rem;
		font-size: 1rem;
	}
}
