/* global style */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--mainTransition: all 0.3s ease-in-out;
	--firstFont: 'Chakra Petch', sans-serif;
	--secondFont: 'Gorditas', cursive;
	--thirdFont: 'Potta One', cursive;
	--mainColor: black;
	--secondColor: white;
	--thirdColor: gray;
	--forthColor: rgb(187, 185, 185);
	--fifthColor: rgb(216, 216, 216);
	--darkColor: rgb(41, 40, 40);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--firstFont);
	background-color: var(--fifthColor);
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.hide {
	display: none;
}

.hide-btn {
	display: none;
}

/* preloader */
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--forthColor);
	display: grid;
	justify-content: center;
	align-items: center;
	visibility: visible;
	z-index: 999;
	transition: var(--transition);
}
.hide-preloader {
	z-index: -999;
	visibility: hidden;
}

/* end of preloader */

/* header */
header {
	min-height: 100vh;
	position: relative;
	display: grid;
	place-items: center;
	z-index: 3;
}

header::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	z-index: -1;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -2;
}

.header-title {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	color: var(--forthColor);
	font-size: 2rem;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.15rem;
}

.nav-white {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	background-color: var(--secondColor);
	transition: var(--mainTransition);
	box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.64);
}

.links {
	flex: 0 0 calc(40% - 1rem);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	list-style: none;
}

.link-item {
	width: 10rem;
	font-size: 1.5rem;
	text-transform: capitalize;
	transition: var(--mainTransition);
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.link-item:hover {
	background-color: var(--thirdColor);
	cursor: pointer;
}

.link-item:hover a {
	color: var(--secondColor);
}

.link-item a {
	color: var(--mainColor);
	letter-spacing: 0.2rem;
}

.logo {
	width: 100%;
	height: 100%;
}

.logo-container {
	padding-top: 1rem;
	width: 10rem;
	height: 13rem;
}

.nav-transparent {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	background-color: transparent;
	transition: var(--mainTransition);
}

.link-item-transparent {
	width: 10rem;
	font-size: 1.5rem;
	text-transform: capitalize;
	transition: var(--mainTransition);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	opacity: 0.6;
}

.link-item-transparent:hover {
	cursor: pointer;
	opacity: 1;
}

.link-item-transparent:hover a {
	color: var(--secondColor);
	transition: var(--mainTransition);
}

.link-item-transparent a {
	color: white;
	letter-spacing: 0.2rem;
}

.slideLeft {
	transition: var(--mainTransition);
	animation: slideLeft 4s 1;
}

.slideRight {
	transition: var(--mainTransition);
	animation: slideRight 4s 1;
}

@keyframes slideLeft {
	0% {
		transform: translateX(-1000px);
	}
	25% {
		transform: translateX(500px);
	}
	50% {
		transform: translateX(-500px);
	}
	70% {
		transform: translateX(100px);
	}
	80% {
		transform: translateX(-100px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes slideRight {
	0% {
		transform: translateX(1000px);
	}
	25% {
		transform: translateX(-500px);
	}
	50% {
		transform: translateX(500px);
	}
	70% {
		transform: translateX(-100px);
	}
	80% {
		transform: translateX(100px);
	}
	100% {
		transform: translateX(0px);
	}
}

/* end of header*/

/* main */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.search {
	flex: 0 0 calc(25% - 1rem);
	width: 35%;
}

#search {
	padding: 1rem 2rem;
	margin: 5rem 0;
	width: 100%;
	border-radius: 1rem;
	border: none;
	background-color: rgb(179, 177, 177);
	color: var(--mainColor);
	font-size: 1.2rem;
	text-align: center;
	font-weight: bold;
	letter-spacing: 0.1rem;
}

#search::placeholder {
	text-transform: capitalize;
	text-align: center;
	font-size: 1.2rem;
	color: var(--thirdColor);
	letter-spacing: 0.2rem;
	font-weight: normal;
}

#search:focus {
	background-color: transparent;
	color: var(--mainColor);
	border: 2px solid var(--thirdColor);
}

.card-container {
	flex: 0 0 calc(75% - 1rem);
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	flex-wrap: wrap;
}

.not-found {
	color: var(--darkColor);
	font-size: 1.5rem;
	font-weight: 500;
	font-family: var(--thirdFont);
}

.single-card {
	flex: 0 0 26%;
	overflow: hidden;
	position: relative;
	height: 30rem;
	background-color: var(--mainColor);
	border-radius: 2rem;
	color: var(--secondColor);
	font-size: 2rem;
	transition: var(--mainTransition);
	margin-bottom: 5rem;
	cursor: pointer;
}

.card-img {
	width: 100%;
	height: 100%;
}

.card-title {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translateX(-50%);
	letter-spacing: 0.2rem;
	visibility: hidden;
	width: 100%;
	text-align: center;
}

.btn-vote {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 3rem;
	background-color: transparent;
	border: none;
	color: var(--secondColor);
	visibility: hidden;
	cursor: pointer;
	transition: var(--mainTransition);
}

.btn-vote-full {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 3rem;
	background-color: transparent;
	border: none;
	color: var(--secondColor);
	visibility: hidden;
	cursor: pointer;
	transition: var(--mainTransition);
}

.single-card:hover {
	box-shadow: 4px 4px 18px 3px rgba(0, 0, 0, 0.64);
}

.single-card:hover .card-img {
	opacity: 0.5;
}

.btn-desc {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translateX(-50%);
	border: 2px solid var(--secondColor);
	color: var(--secondColor);
	background-color: transparent;
	width: 5rem;
	padding: 0.9rem 1rem 1rem;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	font-size: 1.2rem;
	transition: var(--mainTransition);
	text-transform: capitalize;
	display: block;
	margin: 0 auto;
	visibility: hidden;
}

.btn-desc:hover {
	color: var(--secondColor);
	background-color: rgba(255, 255, 255, 0.4);
	cursor: pointer;
}

.single-card:hover .card-title,
.single-card:hover .btn-vote,
.single-card:hover .btn-vote-full,
.single-card:hover .btn-desc {
	visibility: visible;
	transition: var(--mainTransition);
}

.more {
	border: 2px solid gray;
	color: white;
	background-color: gray;
	width: 10rem;
	padding: 1rem;
	border-radius: 1rem;
	font-size: 1.2rem;
	transition: var(--mainTransition);
	text-transform: capitalize;
}

.more:hover {
	color: gray;
	background-color: transparent;
	cursor: pointer;
}
/* end of main*/

/* footer */
footer {
	height: 130px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--darkColor);
	color: var(--secondColor);
	overflow: hidden;
	padding: 1.5rem 0;
	margin-top: 5rem;
}

.footer-links {
	list-style: none;
	width: 10%;
	font-size: 2rem;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.footer-links a {
	color: var(--secondColor);
	transition: var(--mainTransition);
}

.footer-links a:hover {
	color: var(--thirdColor);
}

footer h2 {
	text-transform: capitalize;
	letter-spacing: 0.2rem;
}
/* end of footer */
