/* global style */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--mainTransition: all 0.3s ease-in-out;
	--firstFont: 'Chakra Petch', sans-serif;
	--secondFont: 'Gorditas', cursive;
	--thirdFont: 'Potta One', cursive;
	--mainColor: black;
	--secondColor: white;
	--thirdColor: gray;
	--forthColor: rgb(187, 185, 185);
	--fifthColor: rgb(216, 216, 216);
	--darkColor: rgb(41, 40, 40);
}

html {
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
}

body {
	font-family: var(--firstFont);
	background-color: var(--fifthColor);
	height: 100%;
	width: 100%;
	display: table;
	table-layout: fixed;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.hide {
	display: none;
}

.hide-btn {
	display: none;
}

/* header */
header {
	display: table-row;
}

.nav-white {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	background-color: rgb(250, 185, 47);
	transition: var(--mainTransition);
	box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.64);
}

.links {
	flex: 0 0 calc(40% - 1rem);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	list-style: none;
}

.link-item {
	width: 10rem;
	font-size: 1.5rem;
	text-transform: capitalize;
	transition: var(--mainTransition);
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.link-item:hover {
	background-color: rgb(0, 123, 196);
	cursor: pointer;
}

.link-item:hover a {
	color: rgb(250, 185, 47);
}

.link-item a {
	color: rgb(0, 123, 196);
	letter-spacing: 0.2rem;
}

.logo {
	width: 100%;
	height: 100%;
}

.logo-container {
	padding-top: 1rem;
	width: 10rem;
	height: 9rem;
}

/* ///////////////////header shine/////////////////////// */
main {
	display: table-row;
	height: 100%;
	position: relative;
}

.header-text {
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	position: absolute;
	top: 10%;
	z-index: -1;
	background-color: rgb(78, 0, 0);
	transition: var(--mainTransition);
	box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.64);
}
.h-3 {
	text-decoration: none;
	color: inherit;
	font-size: 3vmin;
}
.par1 {
	color: rgb(255, 255, 255);
	position: relative;
	text-align: center;
	font-size: 5vmin;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 2;
	background: linear-gradient(90deg, rgb(39, 39, 39), #fff, rgb(78, 0, 0));
	background-size: 80% 100%;
	background-repeat: repeat;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 16s linear infinite;
	font-family: var(--firstFont);
	position: relative;
	right: 190px;
}
.par2 {
	color: rgb(255, 255, 255);
	position: relative;
	text-align: center;
	font-size: 5vmin;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 2;
	background: linear-gradient(90deg, rgb(39, 39, 39), #fff, rgb(78, 0, 0));
	background-size: 80% 100%;
	background-repeat: repeat;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 16s linear infinite;
	font-family: var(--firstFont);
	position: relative;
	left: 190px;
}

@keyframes shine {
	0% {
		background-position-x: -500%;
	}

	100% {
		background-position-x: 500%;
	}
}
/* ////////////////////////////////////////// */

/* end of header*/
main {
	margin-top: 2rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.size-chart {
	width: 80%;
	margin-top: 3rem;
	margin-bottom: 5rem;
}

#myChart {
	width: 90%;
	height: 100%;
}

.week-hero {
	overflow: hidden;
	width: 20rem;
	height: 30rem;
}

.week-hero img {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.mystery {
	overflow: hidden;
	width: 30rem;
	height: 25rem;
	position: absolute;
	top: 0.1%;
}

.mystery img {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

/* /////////////////////////////////// */

/* footer */
footer {
	display: table-row;
	height: 130px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(0, 21, 70);
	color: var(--secondColor);
	overflow: hidden;
	padding: 1.5rem 0;
}

.footer-links {
	list-style: none;
	width: 10%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.footer-links a {
	font-size: 2rem;
	color: var(--secondColor);
	transition: var(--mainTransition);
}

.footer-links a:hover {
	color: var(--thirdColor);
}

footer h2 {
	font-size: 1.1rem;
	text-transform: capitalize;
	letter-spacing: 0.2rem;
	color: rgb(151, 161, 170);
}

/* end of footer */
/* /////////////////////////////////// */

/* media queries*/
@media screen and (max-width: 1025px) {
	.footer-links {
		width: 15%;
	}

	.link-item {
		width: 8rem;
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 769px) {
	.footer-links {
		width: 17%;
	}

	.footer-links a {
		font-size: 1.7rem;
	}

	footer h2 {
		font-size: 1.1rem;
	}

	.link-item {
		width: 6rem;
		font-size: 1rem;
	}
}

@media screen and (max-width: 426px) {
	footer {
		height: 80px;
		padding: 1rem 0;
	}

	.footer-links {
		width: 25%;
	}

	.footer-links a {
		font-size: 1rem;
	}

	footer h2 {
		font-size: 0.5rem;
	}

	.link-item {
		width: 6rem;
		font-size: 1rem;
	}
}
